.pricing {
  background-color: var(--color-dark-green);
}

.pricing__content {
  color: var(--color-white);
  padding: 95px 0 144px 15px;
}

.pricing__title {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 67px;
}

.pricing__nav {}

.pricing__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 60px;
}

.pricing__nav-item {}

.pricing__nav-link {
  font-weight: 600;
  font-size: 25px;
  transition: color .15s;
}

.pricing__nav-link:hover {
  color: var(--color-black);
}

@media (max-width:768px) {
  .pricing__content {
    padding: 50px 0 80px 15px;
  }

  .pricing__title {
    font-size: 35px;
  }

  .pricing__nav-list {
    gap: 50px;
  }


  .pricing__nav-link {
    font-size: 20px;
  }
}

@media (max-width:578px) {
  .pricing__title {
    margin-bottom: 50px;
  }

  .pricing__nav-list {
    gap: 40px;
  }

  .pricing__nav-link {
    font-size: 18px;
  }
}